@keyframes barAnimation {
    100% {
        height: .5rem;
    }
}

@keyframes sliderLeft{
    form{
        transform: translateX(calc(100% + 20px));
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}