@media (max-width:1025px){
    .header {
        left: 0;top: 0;
        gap: 1rem;
        justify-content: space-between;
        padding: var(--mb-1-5) var(--mb-1-5) 0 var(--mb-1-5);
        width: 100vw;
    }
    .app__container{
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
        padding-bottom: 9rem;
    }
    .slider{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: var(--mb-1);
    }
    .slider__box{
        margin-right: 0;
    }
    .toppick-featured{
        flex-direction: column;
    }
    .top__picks {
        min-width: 75%;
    }
    .header__navbar{
        display: none;
    }
    .cd__control{
        width: 50rem;
    }
}
@media (max-width:768px){
    .cd__control{
        width: 35rem;
    }
    .cd__name{
        min-width: 23rem;
    }
    .cd__icon{
        gap: 0;
    }
}
@media (max-width:415px){
    html{
        font-size: 55%;
    }
    .header {
        left: 0;top: 0;
        gap: 1rem;
        justify-content: flex-start;
        padding: var(--mb-1-5) var(--mb-1-5) 0 var(--mb-1-5);
        width: 100vw;
    }
    .header__arow {
        display: none;
    }
    .header__form{
        width: 30rem;
    }
    .header__login {
        gap: var(--mb-05);
    }
    .app__container{
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
        padding-bottom: 9rem;
    }
    .header__navbar{
        display: none;
    }
    .heading{
        padding-top:var(--mb-1-5);
    }
    .slider{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--mb-1);
    }
    .slider__box{
        margin-right: 0;
    }
    .toppick-featured{
        flex-direction: column;
    }
    .song__item{
        width: 10rem;
    }
    .content ul li{
        width: 10rem;
    }
    .music-bar{
        right: var(--mb-3);
    }
    .cd__control{
        width: 17rem;
    }
    .cd__icon{
        gap: 0;
    }
    .cd__thumb{
        width: 4rem;
        height: 4rem;
    }
    .cd__name{
        gap: var(--mb-05);
        min-width: 17rem;
    }
    .cd__control-icon{
        gap: var(--mb-1);
    }
    .cd__name-title{
        font-size: 1rem;
    }
    .cd__name-author{
        font-size: .8rem;
    }
    .btn i{
        font-size: 1.3rem;
        min-width: 2.5rem;
    }
}

@media (max-width:376px){
    .top__picks>.heading,
    .songs{
        padding-left: 2rem;
    }
    .cd__name {
        min-width: 16rem;
    }
}