@media (max-width:1025px){
    .header {
        left: 0;top: 0;
        gap: 1rem;
        justify-content: space-between;
        padding: var(--mb-1-5);
        width: 100vw;
    }
    .header__form{
        padding-left: 0;
    }
    .header__input{
        flex: 1;
    }
    .header__login {
        padding-right: 0;
    }
    .toppick-hotsongs{
        flex-direction: column;
    }
    .top__picks {
        width: 75%;
    }
    .header__navbar.active{
        left: 0%;
    }
    .header__navbar{
       left: -100%;
       background-color: #061d50;
       min-height: 100%;
       width: 40rem;
    }
    .cd__control{
        width: 50rem;
    }
    .cd__progress{
        height: .8rem;
    }
    .header__arow {
        display: none;
    }
    .header__nav-open{
        display: block;
    }
    .header__nav-close{
        display: block;
        position: absolute;
        top: var(--mb-1-5);
        right: var(--mb-1-5);
    }
    .app__container{
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
        padding-bottom: 12rem;
    }
    .album__item{
        grid-template-columns: repeat(3,1fr);
        gap: var(--mb-1);
    }
    .album__box{
        margin-right: 0;
    }
    .background__heading{
        font-size: 1.8rem;
    }
    .background__options{
        width: 85%;
        height: 50%;
        overflow: hidden scroll;    
    }
    .background__theme-options{
        grid-template-columns: repeat(3,1fr);
    }
    .theme__action-btn{
        width: 65%;
        padding: 1rem 0;
        font-size: var(--smallest-font);
        letter-spacing: .5rem;
        font-weight: 600;
    }
    .background__theme-action{
        transition: none;
    }
    .container__user-title{
        font-size: var(--medium-font);
    }
    .container__navbar-menu{
        width: 85%;
    }
    .container__navbar-item{
        min-width: 8rem;
        padding: .7rem 1rem;
    }
    .container__navbar-item:nth-child(4),
    .container__navbar-item:nth-child(6){
        display: none;
    }
}
@media (max-width:769px){
    .cd__control{
        width: 35rem;
    }
    .cd__name{
        min-width: 23rem;
    }
    .cd__icon{
        gap: 0;
    }
    .album__item{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:415px){
    html{
        font-size: 55%;
    }
    .header {
        justify-content: flex-start;
    }
    .header__input-box input{
        font-size: 1.2rem;
    }
    .header__navbar{
        width: 23rem;
    }
    .header__arow {
        display: none;
    }
    .header__login {
        gap: var(--mb-05);
    }
    .background__cog-btn{
        display: none;
    }
    .header__playMisic {
        height: 11rem;
        align-items: flex-end;
        padding-bottom: var(--mb-1-5);
    }
    .heading{
        padding-top:var(--mb-1-5);
    }
    .top__picks {
        width: 100%;
    }
    .songs{
        padding: 0 1rem;
    }
    .song__item{
        width: 9rem;
    }
    .content ul{
        display: none;
    }
    .content ul li{
        width: 9rem;
    }
    .music-bar{
        right: var(--mb-2);
    }
    .cd__control{
        width: 27rem;
    }
    .cd__icon{
        padding-bottom: 1.3rem;
    }
    .cd__thumb{
        width: 6rem;
        height: 6rem;
    }
    .cd__name{
        gap: var(--mb-05);
        min-width: 0rem;
    }
    .cd__content{
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .cd__control-icon{
        gap: var(--mb-1);
    }
    .cd__name-title{
        font-size:var(--smallest-font);
    }
    .cd__name-author{
        font-size: 1rem;
    }
    .btn i{
        font-size: 1.3rem;
        min-width: 2.5rem;
    }
    .background__theme-options{
        grid-template-columns: repeat(2,1fr);
    }
    .container__navbar-menu{
        width: 95%;
    }
    .mv__slider-box:nth-child(3){
        display: none;
    }
}

@media (max-width:376px){
    .cd__name {
        min-width: 0rem;
    }
    .playlist__slider-box:first-child{
        display: none;
    }
    .playlist__box-title--link{
        display:-webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .playlist__sliders,
    .artist__sliders{
        height: 23rem;
    }
    .playlist__slider-main,
    .artist__main{
        gap: 2.2rem;
    }
    .playlist__slider-box,
    .artist__box{
        width: 12rem;
    }
    .artist__box-avatar{
        height: 12rem;
    }
    .artist__box-follow{
        font-size: 1rem;
    }
}