@media (max-width:1025px){
    .header {
        left: 0;top: 0;
        gap: 1rem;
        justify-content: space-between;
        padding: var(--mb-1-5) var(--mb-1-5) 0 var(--mb-1-5);
        width: 100vw;
    }
    .app__container{
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
        padding-bottom: 12rem;
    }
    .slider{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: var(--mb-1);
    }
    .slider__box{
        margin-right: 0;
    }
    .toppick-featured{
        flex-direction: column;
    }
    .top__picks {
        width: 75%;
    }
    .header__navbar.active{
        left: 0%;
    }
    .header__navbar{
       left: -100%;
       background-color: var(--background-color);
       z-index: 300;
       min-height: 100%;
       width: 40rem;
    }
    .cd__control{
        width: 50rem;
    }
    .cd__progress{
        height: .8rem;
    }
    .header__arow {
        display: none;
    }
    .header__nav-open{
        display: block;
    }
    .header__nav-close{
        display: block;
        position: absolute;
        top: var(--mb-1-5);
        right: var(--mb-1-5);
    }
}
@media (max-width:767px){
    .cd__control{
        width: 35rem;
    }
    .cd__name{
        min-width: 23rem;
    }
    .cd__icon{
        gap: 0;
    }
}
@media (max-width:415px){
    html{
        font-size: 55%;
    }
    .header {
        justify-content: flex-start;
    }
    .header__navbar{
        width: 23rem;
    }
    .header__arow {
        display: none;
    }
    .header__login {
        gap: var(--mb-05);
    }
    .header__playMisic {
        height: 11rem;
        align-items: flex-end;
        padding-bottom: var(--mb-1-5);
    }
    .heading{
        padding-top:var(--mb-1-5);
    }
    .slider{
        grid-template-columns: repeat(2,1fr);
    }
    .top__picks {
        width: 100%;
    }
    .list__song{
        justify-content: center;
    }
    .song__item{
        width: 9rem;
    }
    .content ul{
        margin-left: 7rem;
    }
    .content ul li{
        width: 9rem;
    }
    .music-bar{
        right: var(--mb-3);
    }
    .cd__control{
        width: 27rem;
    }
    .cd__icon{
        padding-bottom: 1.3rem;
    }
    .cd__thumb{
        width: 6rem;
        height: 6rem;
    }
    .cd__name{
        gap: var(--mb-05);
        min-width: 0rem;
    }
    .cd__content{
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .cd__control-icon{
        gap: var(--mb-1);
    }
    .cd__name-title{
        font-size:var(--smallest-font);
    }
    .cd__name-author{
        font-size: 1rem;
    }
    .btn i{
        font-size: 1.3rem;
        min-width: 2.5rem;
    }
}

@media (max-width:376px){
    .cd__name {
        min-width: 0rem;
    }
}