* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all .3s linear;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

:root {
    --background-color: #000;
    --text-color: #fff;
    --red-color: rgb(224, 30, 62);
    --light-color: rgba(255, 255, 255, 0.192);
    --gray-color:rgba(120,120,120);

    --mb-3:3rem;
    --mb-2: 2rem;
    --mb-1-5: 1.5rem;
    --mb-1: 1rem;
    --mb-05: .5rem ;

    --big-font:4rem;
    --medium-font: 3rem;
    --small-font: 1.8rem;
    --smallest-font: 1.3rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.row {
    display: flex;
    gap: var(--mb-2);
    align-items: center;
}

.app {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
}

.header {
    justify-content: space-between;
    position: fixed;
    top: 4rem;
    right: 0;
    width: calc(100% - (30rem));
    padding: 0 var(--mb-3);
}

.header__form {
    width: 60rem;
}

.header__arow-btn i {
    color: var(--red-color);
    font-size: var(--medium-font);  
    cursor: pointer;
}
.header__arow-btn:last-child i{
    color: var(--light-color);
}
.header__input {
    position: relative;
    width: 100%;
}

.header__input-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--mb-1-5);
}

.header__input-box {
    width: 100%;
}

.header__input-btn i {
    font-size: var(--small-font);
    color: var(--light-color);
    cursor: pointer;
}

.header__input-box input {
    width: 100%;
    padding: var(--mb-1) var(--mb-3) var(--mb-1) var(--mb-1);
    border: 2px solid var(--light-color);
    border-radius: var(--mb-2);
    outline: none;
    background: none;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
}
.header__input-box input::placeholder{
    color: var(--light-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login__title{
    color: var(--text-color);
    font-size: var(--small-font);
}
.login__avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}
.login__img{
    width: 100%;
    object-fit: cover;
}

/* header navbar */

.header__navbar{
    position: fixed;
    width: 30rem;
    left: 0;
    top: 0;
    padding-top: 4rem;
}
.navbar__heading{
    font-size: 1.6rem;
    color: var(--light-color);
    text-transform: uppercase;
    padding-bottom: var(--mb-05);
}
.navbar__logo{
    padding: 0 var(--mb-3);
}
.navbar__logo-link{
    display: flex;
    align-items: center;
}
.navbar__subtitle{
    font-size: var(--small-font);
    color:var(--red-color);
    padding-right: var(--mb-1);
}
.navbar__title{
    display: inline-block;
    color: var(--red-color);
    font-size: var(--big-font);
}
.navbar__menu{
    padding: 0 var(--mb-3);
    margin-top: var(--mb-2);
}
.navbar__list{
    margin-bottom: var(--mb-3);
}
.navbar__link{
    font-size: var(--smallest-font);
    color: var(--gray-color);
    display: flex;
    align-items: center;
    padding: 0.8rem var(--mb-05);
}
.navbar__item{
    transition:none;
    position: relative;
}
.navbar__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .2rem;
    background-color: var(--red-color);
    display: none;
}
.navbar__item:hover{
    background-color: var(--light-color);
}
.navbar__item:hover::before{
    display: block;
}
.navbar__item:hover .navbar__link{
    color: var(--text-color);
}
.navbar__btn{
    font-size: var(--smallest-font);
    padding-right: var(--mb-1);
}
.navbar__list-btn{
    padding: .5rem 1.5rem;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--red-color);
    border-radius: 1.5rem;
    margin-top: var(--mb-1);
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 600;
}

/* header__playMisic */
.header__playMisic{
    z-index: 300;
    box-shadow: 0 0 .1rem .1rem rgba(255,255,255,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.cd{
    text-align: center;
}
.cd__control{
    width: 65rem;
}
.cd__name,
.cd__icon{
    flex: 1;
}
.btn i{
    font-size:2rem;
    color: var(--text-color);
    min-width: 4rem;
}
.cd__control-icon{
    display: flex;
    gap: var(--mb-3);
    justify-content: center;
    padding-bottom: var(--mb-1);
}
.cd__progress{
    width: 100%;
    -webkit-appearance: none;
    height: .3rem;
    background: var(--light-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 1.5rem;
}
.cd__progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: .3rem;
    background-color: var(--red-color);
    cursor: pointer;
    border-radius: 15px;
  }
.cd__name{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mb-2);
    overflow-y: hidden;
}
.cd__name-title{
    font-size:1.3rem;
    padding-bottom: var(--mb-05);
}
.cd__name-author{
    font-size: 1rem;
}
.cd__thumb{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}
.cd__icon{
    display: flex;
    justify-content: center;
    gap: var(--mb-2);
}
.btn-random.active i,
.btn-repeat.active i{
    color: var(--red-color);
}
/* app__container */
.app__container{
    padding-left: 34rem;
    padding-top: 7rem;
    padding-right: 5rem;
}
.heading{
    color: #fff;
    font-size: 2rem;
    padding-top: var(--mb-3);
}
.slider__swiper{
    padding-top: var(--mb-2);
}
.slide__arow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: var(--mb-2);
}
.slide__arow-btn i{
    color: var(--red-color);
    font-size: var(--small-font);
    cursor: pointer;
}
.slider{
    display: flex;
    width: 100%;
}
.slider__box{
    margin-right: var(--mb-1);
    flex: 1 0 17rem;
    display: flex;
    flex-direction: column;
}
.slider__img{
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
}
.slider__img:hover img{
    transform: scale(1.1);
}
.slider__img img{
    object-fit: cover;
    width:100%;
    height: 100%;
}
.slider__content{
    padding-top: var(--mb-1);
    height: 3.8rem;
}
.slider__title{
    font-size: var(--smallest-font);
    color: var(--text-color);
}
.subtitle{
    color: var(--gray-color);
    font-size: 1.1rem;
}


.top__picks{
    max-width: 50rem;
}
.content{
    padding-top: var(--mb-1-5);
    width: 100%;
}
.content ul{
    display: flex;
    margin-left: 5rem;
}
.content ul li{
    color: var(--gray-color);
    width: 12rem;
}
.songs{
    padding-top: var(--mb-1);
    width: 100%;
    height: 21rem;
    overflow: hidden scroll;
}
.songs::-webkit-scrollbar{
    width: .3rem;
}
.songs::-webkit-scrollbar-thumb{
    background-color: var(--light-color);
}
.songs::-webkit-scrollbar-track{
    background:none;
}
.list__song{
   gap: 0;
   margin-top: var(--mb-1);
   display: flex;
   align-items: center;
   position: relative;
}
.list__song.active{
    background-color: var(--light-color);
    border-radius: 1.5rem;
}
.music-bar{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
}
.music-bar span{
    height: 0;
    width: .2rem;
    background-color: #fff;
    display: inline-block;
    animation: barAnimation 1.5s linear infinite forwards;
    animation-delay: calc(.1s * (var(--i)));
}
.list__song.active .music-bar{
    display: flex;
    gap: .2rem;
}
@keyframes barAnimation{
    100%{
        height: .5rem;
    }
}

.song__img{
    width: 3rem;
    border-radius: 1rem;
    overflow: hidden;
}
.song__img img{
    width: 100%;
    object-fit: cover;
}
.song__item{
    width: 12rem;
    padding-left: var(--mb-1);
}
.song__link{
    color: var(--text-color);
    font-weight: 600;
    font-style: 1.2rem;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.featured{
    position: relative;
    flex: 1;
}
.slider__waiper{   
    width: 100%;
    overflow: hidden;
    height: 20rem;
    position: relative;
    margin-top: 3rem;
}
.featured__main{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.slider__item{
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}
.slide__img:hover::before{
    transform: scale(1);
}
.slide__img{
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 1.5s linear;
}
.slide__img::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "play";
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    transform: scale(0);
    transition: .4s linear;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
    font-size: var(--small-font);
}
.slider__item img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    overflow: hidden;
}
.featured .slide__arow{
    padding-top: var(--mb-3);
    padding-right: 0;
    justify-content: space-between;
    width: 100%;
}   
.featured .slide__arow .heading{
    padding: 0;
}